@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  padding: 25px 0px 0px 5%;
}
.header__body__link {
  color: #fff;
}
.header__body__sub__link {
  color: #fff;
}
.header__list-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-1 li {
  margin: 0px 40px 0px 0px;
}
.header__list-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__list-2 li {
  margin: 0px 40px 0px 0px;
}
.header__search span {
  display: inline-block;
  padding: 5px 0px 0px 10px;
}
.header__cabinet img, .header__liked img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 216px;
  height: 52px;
  margin: 0px 6%;
}
.logo img {
  display: block;
  width: 216px;
  height: 52px;
}

.header__login-clone {
  display: none;
}

.header__icons {
  display: flex;
}

.socials {
  display: none;
}

@media (max-width: 1130px) {
  .header__burger {
    z-index: 5;
    display: block;
    position: fixed;
    top: 35px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__burger span,
.header__burger::before,
.header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    display: block;
  }
  .header__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
  .logo {
    position: fixed;
    top: 20px;
    left: 0;
  }
  .header__list-1 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    width: 100%;
  }
  .header__login-clone {
    display: block;
  }
  .header__login {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header__icons {
    padding: 33px 0px 33px 0px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  .header__icons .header__cabinet {
    height: 33px;
    width: 33px;
  }
  .header__icons .header__liked {
    height: 33px;
    width: 36px;
  }
  .header__list-1 > li {
    margin: 0px 0px 30px 0px;
  }
  .header__list-1 > li:last-child {
    margin-bottom: 0;
  }
  .header__list-2 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin: 20px 0px 0px 0px;
  }
  .header__body._active {
    left: 0;
  }
  .socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .socials li {
    margin: 30px 40px 0px 0px;
  }
}
@media (max-width: 300px) {
  .logo {
    width: 180px;
    height: 42px;
  }
  .logo img {
    display: block;
    width: 180px;
    height: 42px;
  }
}
.main-1 {
  background: url(../img/bgc.png) center center no-repeat;
  background-size: cover;
  min-height: 780px;
}
.main-1__container {
  padding: 40% 0px 0px 0px;
}
.main-1__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-1__content h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}

.catalog {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #fff;
  padding: 15px 30px;
  white-space: nowrap;
  margin: 50px 0px 80px 0px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  height: 120px;
}

@media (max-width: 767px) {
  .brands {
    display: none;
  }
  .main-1__container {
    padding: 70% 0px 0px 0px;
  }
}